<% layout('/layout/page') %>
<% block('title', 'Title'); -%>
<p class="lead">Users</p>

<div class="container">
    <% if (user.admin == true) { %>
        <table id="myTable">
            <thead>
            <tr>
                <td> Id</td>
                <td>Login</td>
                <td>Email</td>
                <td>Name</td>
                <td>isAdmin</td>
            </tr>
            </thead>
            <% for(var i = 0; i < users.length; i++) { %>
                <tr class='table-data'>
                    <td><%= i + 1 %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].admin %></td>
                </tr>
            <% } %>
        </table>
    <% } else  { %>
        Username: <%= user.username %>
    <% } %>
</div>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>
