<% layout('/layout/page') %>
<% block('title', 'Title'); -%>
<p class="lead">Users</p>

<div class="container">
    <% if (user.admin == true) { %>
        <p>это видит только админ</p>

    <% } %>

    <table id="myTable" class="demotable">
        <tr class='table-filters'>
            <td>
                <input type="text"/>
            </td>
            <td>
                <input type="text"/>
            </td>
            <td>
                <input type="text"/>
            </td>

            <thead>
            <td></td>
            <td>Login </td>
            <td>HashedPassword</td>
            </thead>
            <form class="form-group"  action="/userslist?page=<%= current %>" method="post"><button  type="submit">sort [a-z]</button></form>
            <% for(var i = 0; i < users.length; i++) { %>
        <tr class='table-data'>

            <td><%= perPage * (current - 1) + i + 1 %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].hashedPassword %></td>
        </tr>
        <% } %>


    </table>

    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/userslist?page=1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 2 ? Number(current) - 2 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/userslist?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 2 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/userslist?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>

</div>

<script>
   /* $(document).ready( function () {
        $('#myTable').DataTable();
    } );*/
    $('.table-filters input').on('input', function () {
        filterTable($(this).parents('table'));
    });

    function filterTable($table) {
        var $filters = $table.find('.table-filters td');
        console.log();
        var $rows = $table.find('.table-data');
        $rows.each(function () {
            var valid = true;
            $(this).find('td').each(function (colIndex) {
                if ($filters.eq(colIndex).find('input').val()) {
                    if ($(this).html().toLowerCase().indexOf(
                        $filters.eq(colIndex).find('input').val().toLowerCase()) == -1) {
                        valid = valid && false;
                    }
                }
            });
            if (valid === true) {
                $(this).css('display', '');
            } else {
                $(this).css('display', 'none');
            }
        });
    }


</script>